.footercontent {
    padding: 60px 48px 15px;
    background-color: #232323;
    color: #fff;
    font-size: 14.4px;
    font-weight: 400;
    justify-content: center;
    align-items: flex-start;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 16.67%;
    padding: 0 15px 16px;
}
.flex-column:nth-child(4) {
    flex-basis: 33.3334%;
}
.wechat>img {
    width: 58%;
    margin-bottom: 54px;
}
.linktitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}
.footlink {
    color: #bbb;
    margin-bottom: 6px;
}
.flex-column span {
    font-weight: 300;
}
.contactlink span {
    color: #ccc;
}
.ant-input-affix-wrapper,.ant-input{
    background-color: #232323;
    color: #fff;
}
.ant-input-affix-wrapper {
    margin-top: 10px;
    border-color: rgb(118, 118, 118);
    border-style: inset;
    border-width: 2px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: rgb(118, 118, 118);
    border-width: 2px !important;
    z-index: 1;
}
.ant-input-affix-wrapper:focus-within {
    border:2px solid #275dc5 !important;
    border-style: inset;
}
.ant-input-prefix {
    width: 48px;
    height: 46px;
    display: flex;
    justify-content: center;
}
.ant-input-lg::placeholder{
    color: #767676;
    line-height: 24px;
}

@media screen and (max-width: 768px){
    .footercontent {
        flex-wrap: wrap;
    }
    .flex-column {
        flex-basis: 100%;
        align-items: center;
    }
    .flex-column:nth-child(4) {
        flex-basis: 100%;
    }
}

/* 备案信息 */
.authorites {
    background-color: #1e1d1d;
    padding: 15px 0;
}
.authorites>p {
    text-align: center;
    line-height: 39px;
    height: 39px;
    margin-bottom: 0;
    color:#bbb;
    font-weight: 300;
}
.authorites a {
    color: #e3302b;
    font-weight: 400;
}
.authorites a:hover {
    color: #941714;
}